@{
    ViewBag.Title = "Hakkımızda";
}
<br />
<div class="row">
        <h1>BİZ KİM MİYİZ ?</h1>
        <br />
        
    <p>
        Biz sadece gönüllü bir grup öğrenciyiz.
        <br />
        <br />
        Hakkımızda söylenecek bir şey bulamıyoruz sadece bir grup adımız var.
        <br />
        <br />
        <h1>D&G</h1>
    </p>

    </div>
