@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<br />
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=%C5%9Eehitler%2C%20%C5%9Eehitler%20Yolu%20Caddesi%20no%20177%2C%20Turgutlu%2FManisa%2C%20Turkey&key=AIzaSyDsQfq9jzd4ChHS8qGYyc-drUYPjIghoPQ" allowfullscreen></iframe>
<br />
<br />
<address>
    Şehitler Mahallesi Şehitler Yolu Caddesi No:177/8<br />
    Turgutlu/MANİSA,45400<br />
    <abbr title="Phone">Tel:</abbr>
    05370377221
</address>
<br />
<address>
    <strong>Destek:</strong>   <a href="mailto:D&G@gmail.com">D&G@gmail.com</a><br />

</address>