
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
    <div class="row">

        <h2>RECMAP'E HOŞGELDİNİZ</h2>
        <br />
        <br />
        <h3>RecMap Nedir ?</h3>
        <br />
        <br />
        
        
        <p>
            RecMap öncelikle kirlenen dünyamızda geri dönüşüm kutularının konum bilgileri ve yakınınızda hangi geri dönüşüm noktalarının olduğunu bulmanızı,
            seçtiğiniz geri dönüşüm noktasına en kısa şekilde gidişinizi planlayan bir sistemdir.
            <br />
            <br />
            "Daha Temiz Bir Dünya" diyerek çıktığımız bu yolda dünyamızı kirleten ve doğaya zararlı olan çöplerimizi geri dönüşüm noktalarımızda toplayarak gelecek nesillere
            daha yaşanabilir bir dünya bırakmak amacındayız.
            <br />
            <br />
            Peki Nasıl Çalışıyor ?
            <br />
            <br />
            Web sitemizde verdiğiniz konum izni ile birlikte anlık olarak size en yakın geri dönüşüm noktalarını haritamızda gösteriyoruz.
            Sadece bununla kalmayıp bir de seçtiğiniz noktaya nasıl ulaşacağınızı da size veriyoruz.
            
            

        </p>


    </div>



